@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;600;700&display=swap');
:root {


  /* backgrounds */
  --clr-bg-pane: #443F3F;
  --clr-bg-cards: #FCFBFB;
  --clr-bg-textbox: #D9D9D9;
  
  /* buttons */
  --clr-btn: #3A9EB4;
  --clr-btn-hover: #4eb0c6;

  /* text */
  --clr-brown-text: #A5680C;
  --clr-gray-text: #727272;
  --clr-reg-text: #e6e6e6;

  /* search textbox */
  --clr-apply-text-box: #FCF9F9;
  --clr-apply-text-box-boarder: #9C9090;

  /* Misc */
  --clr-stock-bg: #fff;
  --clr-black: #000;

  --spacing: 0.1rem;
  --max-width: 1100px;
  --radius: 5px;

}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  /* text-transform: capitalize; */
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section {
  padding: 5rem 0;
}
.section-center{
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.header_img {
  background-image: url('./assets/header2.jpg');
  background-size: cover;
  height: 80vh;
  background-position: center;
}

.listings_img {
  background-image: url('./assets/listing.jpg');
  background-size: cover;
  height: 50vh;
  background-position: center;
}